<%- model_class = Comp -%>

  <div class="row-fluid">
  <div class="span12">   
    <div class="holder">
  <h2 class="comp-name"><%= @comp.name %></h1>
    <% if @comp.property_photo.present? %> <p><%= image_tag @comp.property_photo.url(:medium) %></p> <% end %>
    <p> <%= @comp.address %> <%= @comp.city %>, <%= @comp.state %></p>
  </div>
  </div>
  </div>

            

<table class="table table-striped">

<tr>
  <td class="col-md-3"><strong> Purchase Price: </strong> </td>
  <td class="col-md-3"><%= number_to_currency(@comp.price) %> </td>
  <td class="col-md-3"><strong> Sale date: </strong> </td>
  <td class="col-md-3"><%= @comp.date %> </td>
</tr>

<tr>
  <td class="col-md-3"><strong> Lot Size: </strong> </td>
  <td class="col-md-3"> [TODO: Create attribute] </td>
  <td class="col-md-3"><strong> Seller: </strong> </td>
  <td class="col-md-3"> [TODO: Create attribute] </td>
</tr>

<tr>
  <td class="col-md-3"><strong> Building Size: </strong> </td>
  <td class="col-md-3"><%= @comp.building_size.to_i %> square feet </td>
  <td class="col-md-3"><strong> Buyer: </strong> </td>
  <td class="col-md-3"><%= @comp.date %> </td>
</tr>

<tr>
  <td class="col-md-3"><strong> Purchase Price: </strong> </td>
  <td class="col-md-3"><%= number_to_currency(@comp.price) %> </td>
  <td class="col-md-3"><strong> Verified By: </strong> </td>
  <td class="col-md-3"><%= @comp.date %> </td>
</tr>


</table>

<div class="container-fluid">
  


<ul>
   This Comp is included in the following reports:
<% @comp.reports.each do |report| %>
 <li><%= report.name %> </li>
<% end %>
</ul>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              :back, :class => 'btn'  %>
  <% if user_signed_in? %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_comp_path(@comp), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              comp_path(@comp),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>
</div>
