<%= form_for @report, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
  <% @comps.each do |comp| %>
      <li>
        <%= check_box_tag :comp_ids, comp.id, @report.comps.include?(comp), :name => 'report[comp_ids][]' -%>
        <%= h comp.name -%>
      </li>
  <% end %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reports_path, :class => 'btn' %>
  </div>
<% end %>
