<%- model_class = Report -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @report.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @report.description %></dd>
</dl>

<table class="table">
  <thead>
  <tr>
    <td><strong>Property Name </strong></td>
    <td><strong>Sale Date </strong></td>
    <td><strong>Building Size</strong></td>
    <td><strong>Price</strong></td>
    <td><strong>Price Per Square Foot</strong></td>
  </tr>
</thead>
  <tbody>
    <% @report.comps.each do |comp| %>
    <tr>
      <td> <%= comp.name %> </td>
      <td> <%= comp.date %> </td>
      <td> <%= comp.building_size %> </td>
      <td> <%= comp.price %> </td>
      <td> <%= number_to_currency(comp.price_psf_building) %> </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
     <tr>
        <td> <strong>Average </strong> </td>
        <td> --- </td>
        <td> --- </td>
        <td> <strong> <%= number_to_currency(@average_price) %> </strong> </td>
        <td> <strong> <%= number_to_currency(@average_price_per_SF) %> </strong> </td>
     </tr>
  </tfoot>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              reports_path, :class => 'btn'  %>
  <% if user_signed_in? %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_report_path(@report), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              report_path(@report),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>
</div>
